<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Memcached -->
    <sectionGroup name="enyim">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="system.ConfigurationSource" type="Richfit.Garnet.Common.Configuration.Designs.ConfigurationSourceSection, Richfit.Garnet.Common.Configuration" />
    <section name="package.ConfigurationSource" type="Richfit.Garnet.Common.Configuration.Designs.ConfigurationSourceSection, Richfit.Garnet.Common.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    
  </configSections>
  <system.ConfigurationSource>
    <sources>
      <!-- 系统配置 -->
      <add name="SystemConfiguration" location="Config\System\SystemConfiguration.config" type="Richfit.Garnet.Common.Configuration.ISystemConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- 数据库配置 -->
      <add name="DatabaseConfiguration" location="Config\System\DatabaseConfiguration.config" type="Richfit.Garnet.Common.Configuration.IDatabaseConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- 系统容器配置 -->
      <add name="SystemContainer" location="Config\System\SystemContainer.config" type="Richfit.Garnet.Common.Configuration.IUnityConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- 系统拦截配置 -->
      <add name="SystemInterception" location="Config\System\SystemInterception.config" type="Richfit.Garnet.Common.Configuration.IInterceptionConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- 配置集合 -->
      <add name="Collection" location="Config\System\Collection.config" type="Richfit.Garnet.Common.Configuration.IGroupConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- 通用日志记录器配置 -->
      <add name="CommonLogging" location="Config\Logging\CommonLogging.config" type="Richfit.Garnet.Common.Configuration.ICommonLoggingConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- Log4Net日志记录器配置 -->
      <add name="Log4Net" location="Config\Logging\Log4Net.Debug.config" type="Richfit.Garnet.Common.Configuration.ILog4NetConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- Quartz定时任务组件配置 -->
      <add name="Quartz" location="Config\Quartz\Quartz.config" type="Richfit.Garnet.Common.Configuration.IQuartzConfiguration, Richfit.Garnet.Common.Configuration" />
      <!-- Quartz定时任务组件 任务配置 -->
      <add name="QuartzJobs" location="Config\Quartz\QuartzJobs.config" type="Richfit.Garnet.Common.Configuration.IQuartzJobConfiguration, Richfit.Garnet.Common.Configuration" />
      
    
  
  
  
    </sources>
  </system.ConfigurationSource>
  <package.ConfigurationSource location="Packages\" source="PackageInfo.config" type="Richfit.Garnet.Common.Configuration.IPackageConfiguration, Richfit.Garnet.Common.Configuration" />
  <enyim>
    <memcached>
      <servers>
        <!--<add address="11.0.43.42" port="11234" />-->
        <!--<add address="11.0.43.40" port="11234" />-->
        <add address="10.58.75.32" port="11212" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:30" />
    </memcached>
  </enyim>
  <appSettings>
    <add key="ffmpeg" value="Resources\ffmpeg\bin\" />
    <!--solr请求地址-->
    <add key="SolrPath" value="http://localhost:8983/solr/SJZXDOC"/>
    <add key="UserName" value="test"/>
    <add key="Password" value="admin123"/>
    <add key="ABBYY_Path" value="C:\Program Files\ABBYY SDK\11\FineReader Engine\"/>
    <add key="ABBYY_SN" value="SWTD-1131-0006-1129-3766-4271"/>
    <!--自动存储已识别的OCR文件路径-->
    <add key="OCRFilePath" value="\Files\OCR\"/>
    <add key="OCRImgSupported" value= ".pdf|.png|.jpg|.jpeg|.jpe|.bmp"/>
    <!--文档在线浏览系统地址-->
    <add key="kkFilePreview" value="http://localhost:8012"/>
    <add key="DocViewIP" value="http://localhost:7777"/>
    
  </appSettings>
  <system.web>
    <!--<httpRuntime maxRequestLength="20480000" useFullyQualifiedRedirectUrl="true" executionTimeout="6000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />-->
    <httpRuntime maxRequestLength="99999999" executionTimeout="999999" requestLengthDiskThreshold="256" requestValidationMode="2.0" maxQueryStringLength="999999" />
    <!--<compilation debug="true" targetFramework="4.0"  >
      <assemblies>
        <add assembly="PageOffice, Version=2.0.0.1, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
        <add assembly="Interop.poserverLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
      </assemblies>
    </compilation>-->
   <!--<identity impersonate="true" userName="administrator" password="1q2w#E$R"/>-->

    <pages validateRequest="false" enableEventValidation="false">
      <controls>
        <add tagPrefix="ComCtrl" namespace="Richfit.Garnet.JQuery.Control" assembly="Richfit.Garnet.JQuery.Control" />
      </controls>
    </pages>
    <compilation debug="true">
      <assemblies>
      	<add assembly="PageOffice, Version=4.0.0.1, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Interop.poserverLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.400" newVersion="2.1.2.400" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <add name="Do" path="/Handlers/Do.ashx/*/*" verb="GET,HEAD,POST" type="Richfit.Garnet.Module.Fundation.Infrastructure.Do" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="false">
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v12.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sdk.entinfo.cn:8060/webservice.asmx"
          binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
          contract="Messagge.entinfo.WebServiceSoap" name="WebServiceSoap" />

    </client>
  </system.serviceModel>
</configuration>